In [1417]:
import pandas as pd

data_2024 = pd.read_csv("data/NFL_2024_season_data.csv")
data_2024['year'] = 2024
data_2023 = pd.read_csv("data/NFL_2023_season_data.csv")
data_2023['year'] = 2023
data_2022 = pd.read_csv("data/NFL_2022_season_data.csv")
data_2022['year'] = 2022
data_2021 = pd.read_csv("data/NFL_2021_season_data.csv")
data_2021['year'] = 2021

In [1418]:
data = pd.concat([data_2024, data_2023, data_2022, data_2021])
data = data.drop(['2:00 PM', '2PP', 'FantPt', 'DKPt', 'FDPt', 'VBD', 'OvRank', '-9999'], axis=1)
rb_data = data[data['FantPos'] == 'RB']
rb_data = rb_data.reset_index()
rb_data.columns

Index(['index', 'Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp',
       'Passing Att', 'Passing Yds', 'Passing TD', 'Int', 'Rushing Att',
       'Rushing Yds', 'Rushing Y/A', 'Rushing TD', 'Tgt', 'Rec',
       'Receiving Yds', 'Receiving Y/R', 'Receiving TD', 'Fmb', 'FL',
       'Total TD', 'PPR', 'PosRank', 'year'],
      dtype='object')

In [1419]:
rb_data = rb_data.drop(['index', 'Rk', 'FantPos', 'Cmp', 'Passing Att', 'Passing Yds', 'Passing TD', 'Int'], axis=1)
rb_data['Player'] = rb_data['Player'].str.replace('+', '', regex=False)
rb_data['Player'] = rb_data['Player'].str.replace('*', '', regex=False)
rb_data.head()

,Player,Tm,Age,G,GS,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Tgt,Rec,Receiving Yds,Receiving Y/R,Receiving TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Saquon Barkley,PHI,27,16,16,345.0,2005.0,5.81,13.0,43.0,33.0,278.0,8.42,2.0,2.0,1.0,15,355.3,1,2024
1,Derrick Henry,BAL,30,17,17,325.0,1921.0,5.91,16.0,22.0,19.0,193.0,10.16,2.0,3.0,1.0,18,336.4,2,2024
2,Jahmyr Gibbs,DET,22,17,4,250.0,1412.0,5.65,16.0,63.0,52.0,517.0,9.94,4.0,1.0,1.0,20,362.9,3,2024
3,Bijan Robinson,ATL,22,17,17,304.0,1456.0,4.79,14.0,72.0,61.0,431.0,7.07,1.0,1.0,0.0,15,341.7,4,2024
4,Josh Jacobs,GNB,26,17,17,301.0,1329.0,4.42,15.0,43.0,36.0,342.0,9.50,1.0,4.0,3.0,16,293.1,5,2024

In [1420]:
rb_data[rb_data.isna().any(axis=1)]

,Player,Tm,Age,G,GS,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Tgt,Rec,Receiving Yds,Receiving Y/R,Receiving TD,Fmb,FL,Total TD,PPR,PosRank,year
98,Tony Jones,ARI,27,1,0,4.0,55.0,13.75,1.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,1,11.5,104,2024
102,Raheem Blackshear,CAR,25,16,1,15.0,80.0,5.33,0.0,0.0,0.0,0.0,NaN,0.0,2.0,0.0,0,8.0,108,2024
108,Kene Nwangwu,NYJ,26,2,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,1,6.0,113,2024
114,Rasheen Ali,BAL,23,6,0,10.0,31.0,3.10,0.0,2.0,0.0,0.0,NaN,0.0,0.0,0.0,0,3.1,124,2024
118,Terrell Jennings,NWE,23,3,0,13.0,33.0,2.54,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.0,0,3.3,121,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,Jordan Scarlett,MIA,25,1,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,182,2021
612,Jordan Wilkins,2TM,27,5,0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,184,2021
613,Avery Williams,ATL,23,15,1,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,1.0,0.0,0,NaN,185,2021
614,Brandon Wilson,CIN,27,9,1,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0,NaN,186,2021
615,Trenton Cannon,2TM,27,12,0,3.0,4.0,1.33,0.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,0,-1.6,189,2021

In [1421]:
rb_data = rb_data.fillna(0.0)

In [1422]:
rb_data['PPG'] = rb_data['PPR']/rb_data['G']

In [1423]:
rb_data.shape

(616, 21)

In [1424]:
training = rb_data[rb_data['year'] != 2024]
predicting = rb_data[(rb_data['year'] == 2024) | (rb_data['year'] == 2023)]

In [1425]:
rb_data.columns

Index(['Player', 'Tm', 'Age', 'G', 'GS', 'Rushing Att', 'Rushing Yds',
       'Rushing Y/A', 'Rushing TD', 'Tgt', 'Rec', 'Receiving Yds',
       'Receiving Y/R', 'Receiving TD', 'Fmb', 'FL', 'Total TD', 'PPR',
       'PosRank', 'year', 'PPG'],
      dtype='object')

In [1426]:
henry = training[training['Player'] == "Derrick Henry"]
henry = henry.reset_index()
for row in henry.itertuples():
    print(row)
    break

Pandas(Index=0, index=151, Player='Derrick Henry', Tm='TEN', Age=29, G=17, GS=17, _7=280.0, _8=1167.0, _9=4.17, _10=12.0, Tgt=36.0, Rec=28.0, _13=214.0, _14=7.64, _15=0.0, Fmb=0.0, FL=0.0, _18=12, PPR=246.7, PosRank=5, year=2023, PPG=14.511764705882353)

In [1427]:
final_cols = ['Player', 'Age', 
              '0_ago_G', '0_ago_GS', '0_ago_RushingAtt', '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Tgt', '0_ago_Rec', '0_ago_ReceivingYds', 
              '0_ago_ReceivingY/R', '0_ago_ReceivingTD', '0_ago_Fmb', '0_ago_FL', '0_ago_TotalTD', '0_ago_PPR', '0_ago_PosRank', '0_ago_PPG', 
              '1_ago_G', '1_ago_GS', '1_ago_RushingAtt', '1_ago_RushingYds', '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Tgt', '1_ago_Rec', '1_ago_ReceivingYds', 
              '1_ago_ReceivingY/R', '1_ago_ReceivingTD', '1_ago_Fmb', '1_ago_FL', '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '1_ago_PPG', 
              '2_ago_G', '2_ago_GS', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A', '2_ago_RushingTD', '2_ago_Tgt', '2_ago_Rec', '2_ago_ReceivingYds', 
              '2_ago_ReceivingY/R', '2_ago_ReceivingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank', '2_ago_PPG'
            ]

rb = pd.DataFrame(columns=final_cols, index=[0])
rb = rb.fillna(0.0)
for player in training["Player"].unique():
    individual = training[training['Player'] == player]
    individual = individual.reset_index()
    data = pd.DataFrame(columns=final_cols, index=[0])
    data['Player'] = player
    data['Age'] = individual.loc[0]['Age']
    for row in individual.itertuples():
        data[str(2023 - row.year) + '_ago_G'] = row.G
        data[str(2023 - row.year) + '_ago_GS'] = row.GS
        data[str(2023 - row.year) + '_ago_RushingAtt'] = row._7
        data[str(2023 - row.year) + '_ago_RushingYds'] = row._8
        data[str(2023 - row.year) + '_ago_RushingY/A'] = row._9
        data[str(2023 - row.year) + '_ago_RushingTD'] = row._10
        data[str(2023 - row.year) + '_ago_Tgt'] = row.Tgt
        data[str(2023 - row.year) + '_ago_Rec'] = row.Rec
        data[str(2023 - row.year) + '_ago_ReceivingYds'] = row._13
        data[str(2023 - row.year) + '_ago_ReceivingY/R'] = row._14
        data[str(2023 - row.year) + '_ago_ReceivingTD'] = row._15
        data[str(2023 - row.year) + '_ago_Fmb'] = row.Fmb
        data[str(2023 - row.year) + '_ago_FL'] = row.FL
        data[str(2023 - row.year) + '_ago_TotalTD'] = row._18
        data[str(2023 - row.year) + '_ago_PPR'] = row.PPR
        data[str(2023 - row.year) + '_ago_PosRank'] = row.PosRank
        data[str(2023 - row.year) + '_ago_PPG'] = row.PPG

    rb = pd.concat([rb, data])

rb.head()

/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rb = rb.fillna(0.0)
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/932023969.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb = pd.concat([rb, data])

,Player,Age,0_ago_G,0_ago_GS,0_ago_RushingAtt,0_ago_RushingYds,0_ago_RushingY/A,0_ago_RushingTD,0_ago_Tgt,0_ago_Rec,...,2_ago_Rec,2_ago_ReceivingYds,2_ago_ReceivingY/R,2_ago_ReceivingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank,2_ago_PPG
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
0,Christian McCaffrey,27.0,16.0,16.0,272.0,1459.0,5.36,14.0,83.0,67.0,...,37.0,343.0,9.27,1.0,1.0,0.0,2.0,127.5,44.0,18.214286
0,Raheem Mostert,31.0,15.0,15.0,209.0,1012.0,4.84,18.0,32.0,25.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2.0,148.0,2.000000
0,Travis Etienne,24.0,17.0,17.0,267.0,1008.0,3.78,11.0,73.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Kyren Williams,23.0,12.0,11.0,228.0,1144.0,5.02,12.0,48.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1428]:
rb = rb.fillna(0.0)
rb = rb.iloc[1:]
rb.head()

,Player,Age,0_ago_G,0_ago_GS,0_ago_RushingAtt,0_ago_RushingYds,0_ago_RushingY/A,0_ago_RushingTD,0_ago_Tgt,0_ago_Rec,...,2_ago_Rec,2_ago_ReceivingYds,2_ago_ReceivingY/R,2_ago_ReceivingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank,2_ago_PPG
0,Christian McCaffrey,27.0,16.0,16.0,272.0,1459.0,5.36,14.0,83.0,67.0,...,37.0,343.0,9.27,1.0,1.0,0.0,2.0,127.5,44.0,18.214286
0,Raheem Mostert,31.0,15.0,15.0,209.0,1012.0,4.84,18.0,32.0,25.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,2.0,148.0,2.000000
0,Travis Etienne,24.0,17.0,17.0,267.0,1008.0,3.78,11.0,73.0,58.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
0,Kyren Williams,23.0,12.0,11.0,228.0,1144.0,5.02,12.0,48.0,32.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
0,Derrick Henry,29.0,17.0,17.0,280.0,1167.0,4.17,12.0,36.0,28.0,...,18.0,154.0,8.56,0.0,1.0,0.0,10.0,193.3,14.0,24.162500

In [1429]:
rb.columns

Index(['Player', 'Age', '0_ago_G', '0_ago_GS', '0_ago_RushingAtt',
       '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Tgt',
       '0_ago_Rec', '0_ago_ReceivingYds', '0_ago_ReceivingY/R',
       '0_ago_ReceivingTD', '0_ago_Fmb', '0_ago_FL', '0_ago_TotalTD',
       '0_ago_PPR', '0_ago_PosRank', '0_ago_PPG', '1_ago_G', '1_ago_GS',
       '1_ago_RushingAtt', '1_ago_RushingYds', '1_ago_RushingY/A',
       '1_ago_RushingTD', '1_ago_Tgt', '1_ago_Rec', '1_ago_ReceivingYds',
       '1_ago_ReceivingY/R', '1_ago_ReceivingTD', '1_ago_Fmb', '1_ago_FL',
       '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '1_ago_PPG', '2_ago_G',
       '2_ago_GS', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Tgt', '2_ago_Rec', '2_ago_ReceivingYds',
       '2_ago_ReceivingY/R', '2_ago_ReceivingTD', '2_ago_Fmb', '2_ago_FL',
       '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank', '2_ago_PPG'],
      dtype='object')

In [1430]:
rb = rb.drop(['0_ago_G', '0_ago_GS', '0_ago_RushingAtt',
       '0_ago_RushingYds', '0_ago_RushingY/A', '0_ago_RushingTD', '0_ago_Tgt',
       '0_ago_Rec', '0_ago_ReceivingYds', '0_ago_ReceivingY/R',
       '0_ago_ReceivingTD', '0_ago_Fmb', '0_ago_FL', '0_ago_TotalTD',
        '0_ago_PosRank', '0_ago_PPG'], axis=1)

In [1431]:
rb.columns

Index(['Player', 'Age', '0_ago_PPR', '1_ago_G', '1_ago_GS', '1_ago_RushingAtt',
       '1_ago_RushingYds', '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Tgt',
       '1_ago_Rec', '1_ago_ReceivingYds', '1_ago_ReceivingY/R',
       '1_ago_ReceivingTD', '1_ago_Fmb', '1_ago_FL', '1_ago_TotalTD',
       '1_ago_PPR', '1_ago_PosRank', '1_ago_PPG', '2_ago_G', '2_ago_GS',
       '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Tgt', '2_ago_Rec', '2_ago_ReceivingYds',
       '2_ago_ReceivingY/R', '2_ago_ReceivingTD', '2_ago_Fmb', '2_ago_FL',
       '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank', '2_ago_PPG'],
      dtype='object')

In [1432]:
rb.shape

(234, 37)

In [1433]:
from sklearn.model_selection import train_test_split

X = rb.drop(['0_ago_PPR', 'Player'], axis=1)
y = rb[['Player', '0_ago_PPR']]
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=0)

In [1434]:
# simplified_X = rb[['1_ago_PPG', '1_ago_PPR', '2_ago_PPG', '2_ago_PPR']]
simplified_X = rb[['Age', '1_ago_GS', '1_ago_PosRank', '1_ago_PPG', '1_ago_PPR', '2_ago_GS', '2_ago_PosRank', '2_ago_PPG', '2_ago_PPR']]
simplified_y = rb[['Player', '0_ago_PPR']]
simplified_X_train, simplified_X_test, simplified_y_train, simplified_y_test = train_test_split(simplified_X, simplified_y, train_size=0.75, random_state=0)

In [1435]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=0)
model.fit(simplified_X_train, simplified_y_train['0_ago_PPR'])
model.score(simplified_X_test, simplified_y_test['0_ago_PPR'])

0.6257390590392903

In [1436]:
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(random_state=0)
model.fit(simplified_X_train, simplified_y_train['0_ago_PPR'])
model.score(simplified_X_test, simplified_y_test['0_ago_PPR'])

0.4888468357627209

In [1437]:
rb.columns

Index(['Player', 'Age', '0_ago_PPR', '1_ago_G', '1_ago_GS', '1_ago_RushingAtt',
       '1_ago_RushingYds', '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Tgt',
       '1_ago_Rec', '1_ago_ReceivingYds', '1_ago_ReceivingY/R',
       '1_ago_ReceivingTD', '1_ago_Fmb', '1_ago_FL', '1_ago_TotalTD',
       '1_ago_PPR', '1_ago_PosRank', '1_ago_PPG', '2_ago_G', '2_ago_GS',
       '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Tgt', '2_ago_Rec', '2_ago_ReceivingYds',
       '2_ago_ReceivingY/R', '2_ago_ReceivingTD', '2_ago_Fmb', '2_ago_FL',
       '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank', '2_ago_PPG'],
      dtype='object')

In [1438]:
final_cols = ['Player', 'Age',
              '1_ago_G', '1_ago_GS', '1_ago_RushingAtt', '1_ago_RushingYds', '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Tgt', '1_ago_Rec', '1_ago_ReceivingYds', 
              '1_ago_ReceivingY/R', '1_ago_ReceivingTD', '1_ago_Fmb', '1_ago_FL', '1_ago_TotalTD', '1_ago_PPR', '1_ago_PosRank', '1_ago_PPG', 
              '2_ago_G', '2_ago_GS', '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A', '2_ago_RushingTD', '2_ago_Tgt', '2_ago_Rec', '2_ago_ReceivingYds',
              '2_ago_ReceivingY/R', '2_ago_ReceivingTD', '2_ago_Fmb', '2_ago_FL', '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank', '2_ago_PPG']
rb_pred = pd.DataFrame(columns=final_cols, index=[0])
rb_pred = rb_pred.fillna(0.0)
for player in predicting["Player"].unique():
    individual = predicting[predicting['Player'] == player]
    individual = individual.reset_index()
    data = pd.DataFrame(columns=final_cols, index=[0])
    data['Player'] = player
    data['Age'] = individual.loc[0]['Age']
    for row in individual.itertuples():
        data[str(2025 - row.year) + '_ago_G'] = row.G
        data[str(2025 - row.year) + '_ago_GS'] = row.GS
        data[str(2025 - row.year) + '_ago_RushingAtt'] = row._7
        data[str(2025 - row.year) + '_ago_RushingYds'] = row._8
        data[str(2025 - row.year) + '_ago_RushingY/A'] = row._9
        data[str(2025 - row.year) + '_ago_RushingTD'] = row._10
        data[str(2025 - row.year) + '_ago_Tgt'] = row.Tgt
        data[str(2025 - row.year) + '_ago_Rec'] = row.Rec
        data[str(2025 - row.year) + '_ago_ReceivingYds'] = row._13
        data[str(2025 - row.year) + '_ago_ReceivingY/R'] = row._14
        data[str(2025 - row.year) + '_ago_ReceivingTD'] = row._15
        data[str(2025 - row.year) + '_ago_Fmb'] = row.Fmb
        data[str(2025 - row.year) + '_ago_FL'] = row.FL
        data[str(2025 - row.year) + '_ago_TotalTD'] = row._18
        data[str(2025 - row.year) + '_ago_PPR'] = row.PPR
        data[str(2025 - row.year) + '_ago_PosRank'] = row.PosRank
        data[str(2025 - row.year) + '_ago_PPG'] = row.PPG

    rb_pred = pd.concat([rb_pred, data])

/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rb_pred = rb_pred.fillna(0.0)
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])
/var/folders/1b/qlbscsf57hngyt99v1b1329c0000gn/T/ipykernel_68617/4104589797.py:33: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rb_pred = pd.concat([rb_pred, data])

In [1439]:
rb_pred.head()

,Player,Age,1_ago_G,1_ago_GS,1_ago_RushingAtt,1_ago_RushingYds,1_ago_RushingY/A,1_ago_RushingTD,1_ago_Tgt,1_ago_Rec,...,2_ago_Rec,2_ago_ReceivingYds,2_ago_ReceivingY/R,2_ago_ReceivingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank,2_ago_PPG
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
0,Saquon Barkley,27.0,16.0,16.0,345.0,2005.0,5.81,13.0,43.0,33.0,...,41.0,280.0,6.83,4.0,2.0,2.0,10.0,223.2,13.0,15.942857
0,Derrick Henry,30.0,17.0,17.0,325.0,1921.0,5.91,16.0,22.0,19.0,...,28.0,214.0,7.64,0.0,0.0,0.0,12.0,246.7,5.0,14.511765
0,Jahmyr Gibbs,22.0,17.0,4.0,250.0,1412.0,5.65,16.0,63.0,52.0,...,52.0,316.0,6.08,1.0,2.0,1.0,11.0,242.1,10.0,16.140000
0,Bijan Robinson,22.0,17.0,17.0,304.0,1456.0,4.79,14.0,72.0,61.0,...,58.0,487.0,8.40,4.0,4.0,3.0,8.0,246.3,12.0,14.488235

In [1440]:
rb_pred = rb_pred.iloc[1:]

In [1441]:
rb_pred = rb_pred.fillna(0.0)

In [1442]:
rb_pred['Age'] = rb_pred['Age'] + 1

In [1443]:
rb_pred.columns

Index(['Player', 'Age', '1_ago_G', '1_ago_GS', '1_ago_RushingAtt',
       '1_ago_RushingYds', '1_ago_RushingY/A', '1_ago_RushingTD', '1_ago_Tgt',
       '1_ago_Rec', '1_ago_ReceivingYds', '1_ago_ReceivingY/R',
       '1_ago_ReceivingTD', '1_ago_Fmb', '1_ago_FL', '1_ago_TotalTD',
       '1_ago_PPR', '1_ago_PosRank', '1_ago_PPG', '2_ago_G', '2_ago_GS',
       '2_ago_RushingAtt', '2_ago_RushingYds', '2_ago_RushingY/A',
       '2_ago_RushingTD', '2_ago_Tgt', '2_ago_Rec', '2_ago_ReceivingYds',
       '2_ago_ReceivingY/R', '2_ago_ReceivingTD', '2_ago_Fmb', '2_ago_FL',
       '2_ago_TotalTD', '2_ago_PPR', '2_ago_PosRank', '2_ago_PPG'],
      dtype='object')

In [1444]:
y_2025 = model.predict(rb_pred[['Age', '1_ago_GS', '1_ago_PosRank', '1_ago_PPG', '1_ago_PPR', '2_ago_GS', '2_ago_PosRank', '2_ago_PPG', '2_ago_PPR']])
y_2025 = pd.Series(y_2025, name='2025 PPR Prediction')
rb_pred = rb_pred.reset_index()
rb_pred = rb_pred.drop(['index'], axis=1)
rb_pred

,Player,Age,1_ago_G,1_ago_GS,1_ago_RushingAtt,1_ago_RushingYds,1_ago_RushingY/A,1_ago_RushingTD,1_ago_Tgt,1_ago_Rec,...,2_ago_Rec,2_ago_ReceivingYds,2_ago_ReceivingY/R,2_ago_ReceivingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank,2_ago_PPG
0,Saquon Barkley,28.0,16.0,16.0,345.0,2005.0,5.81,13.0,43.0,33.0,...,41.0,280.0,6.83,4.0,2.0,2.0,10.0,223.2,13.0,15.942857
1,Derrick Henry,31.0,17.0,17.0,325.0,1921.0,5.91,16.0,22.0,19.0,...,28.0,214.0,7.64,0.0,0.0,0.0,12.0,246.7,5.0,14.511765
2,Jahmyr Gibbs,23.0,17.0,4.0,250.0,1412.0,5.65,16.0,63.0,52.0,...,52.0,316.0,6.08,1.0,2.0,1.0,11.0,242.1,10.0,16.140000
3,Bijan Robinson,23.0,17.0,17.0,304.0,1456.0,4.79,14.0,72.0,61.0,...,58.0,487.0,8.40,4.0,4.0,3.0,8.0,246.3,12.0,14.488235
4,Josh Jacobs,27.0,17.0,17.0,301.0,1329.0,4.42,15.0,43.0,36.0,...,37.0,296.0,8.00,0.0,3.0,1.0,6.0,181.1,25.0,13.930769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Xazavian Valladay,26.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,162.0,0.000000
187,Dwayne Washington,30.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,163.0,0.000000
188,Jonathan Williams,30.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,-0.2,165.0,-0.200000
189,Owen Wright,25.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,164.0,0.000000
190,Deon Jackson,25.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,5.0,14.0,2.80,0.0,2.0,2.0,0.0,4.0,166.0,1.000000

In [1445]:
rb_pred = pd.concat([y_2025, rb_pred], axis=1)
rb_pred.head()

,2025 PPR Prediction,Player,Age,1_ago_G,1_ago_GS,1_ago_RushingAtt,1_ago_RushingYds,1_ago_RushingY/A,1_ago_RushingTD,1_ago_Tgt,...,2_ago_Rec,2_ago_ReceivingYds,2_ago_ReceivingY/R,2_ago_ReceivingTD,2_ago_Fmb,2_ago_FL,2_ago_TotalTD,2_ago_PPR,2_ago_PosRank,2_ago_PPG
0,150.201861,Saquon Barkley,28.0,16.0,16.0,345.0,2005.0,5.81,13.0,43.0,...,41.0,280.0,6.83,4.0,2.0,2.0,10.0,223.2,13.0,15.942857
1,225.285820,Derrick Henry,31.0,17.0,17.0,325.0,1921.0,5.91,16.0,22.0,...,28.0,214.0,7.64,0.0,0.0,0.0,12.0,246.7,5.0,14.511765
2,280.588291,Jahmyr Gibbs,23.0,17.0,4.0,250.0,1412.0,5.65,16.0,63.0,...,52.0,316.0,6.08,1.0,2.0,1.0,11.0,242.1,10.0,16.140000
3,200.186736,Bijan Robinson,23.0,17.0,17.0,304.0,1456.0,4.79,14.0,72.0,...,58.0,487.0,8.40,4.0,4.0,3.0,8.0,246.3,12.0,14.488235
4,76.357919,Josh Jacobs,27.0,17.0,17.0,301.0,1329.0,4.42,15.0,43.0,...,37.0,296.0,8.00,0.0,3.0,1.0,6.0,181.1,25.0,13.930769

In [1446]:
rb_pred_view = rb_pred[['2025 PPR Prediction', 'Player']].sort_values('2025 PPR Prediction', ascending=False).reset_index(drop=True)
rb_pred_view.head(20)

    2025 PPR Prediction              Player
0            280.588291        Jahmyr Gibbs
1            265.486216    Tyrone Tracy Jr.
2            247.667949        Bucky Irving
3            239.045599         Chase Brown
4            225.285820       Derrick Henry
5            221.809343           Ray Davis
6            219.042543         Rico Dowdle
7            208.623462        J.K. Dobbins
8            205.799190       De'Von Achane
9            205.090089     Zach Charbonnet
10           201.473246     Jonathan Taylor
11           200.186736      Bijan Robinson
12           180.074225      Isaac Guerendo
13           161.976345       Rachaad White
14           159.376402        Najee Harris
15           155.606144  Kenneth Walker III
16           151.405327      Tyler Allgeier
17           150.201861      Saquon Barkley
18           148.826547           Joe Mixon
19           148.680454       D'Andre Swift