In [9]:
import pandas as pd

data_2024 = pd.read_csv("data/NFL_2024_season_data.csv")
data_2024['year'] = 2024
data_2023 = pd.read_csv("data/NFL_2023_season_data.csv")
data_2023['year'] = 2023
data_2022 = pd.read_csv("data/NFL_2022_season_data.csv")
data_2022['year'] = 2022
data_2021 = pd.read_csv("data/NFL_2021_season_data.csv")
data_2021['year'] = 2021
data_2020 = pd.read_csv("data/NFL_2020_season_data.csv")
data_2020['year'] = 2020

In [10]:
data = pd.concat([data_2024, data_2023, data_2022, data_2021, data_2020])
data.shape

(3262, 36)

In [11]:
data.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Passing Att,Passing Yds,...,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,-9999,year,PPR▼
0,1,Saquon Barkley*+,PHI,RB,27,16,16,0.0,0.0,0.0,...,322.0,355.3,362.3,338.8,163.0,1,1.0,BarkSa00,2024,NaN
1,2,Derrick Henry*,BAL,RB,30,17,17,0.0,0.0,0.0,...,317.0,336.4,343.4,326.9,159.0,2,2.0,HenrDe00,2024,NaN
2,3,Jahmyr Gibbs*,DET,RB,22,17,4,0.0,0.0,0.0,...,311.0,362.9,369.9,336.9,153.0,3,3.0,GibbJa01,2024,NaN
3,4,Lamar Jackson*+,BAL,QB,27,17,17,316.0,474.0,4172.0,...,430.0,430.4,445.4,434.4,140.0,1,4.0,JackLa00,2024,NaN
4,5,Ja'Marr Chase*+,CIN,WR,24,17,16,0.0,0.0,0.0,...,276.0,403.0,406.0,339.5,138.0,1,5.0,ChasJa00,2024,NaN

In [12]:
data.columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Passing Att',
       'Passing Yds', 'Passing TD', 'Int', 'Rushing Att', 'Rushing Yds',
       'Rushing Y/A', 'Rushing TD', 'Tgt', 'Rec', 'Receiving Yds',
       'Receiving Y/R', 'Receiving TD', 'Fmb', 'FL', 'Total TD', '2:00 PM',
       '2PP', 'FantPt', 'PPR', 'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank',
       '-9999', 'year', 'PPR▼'],
      dtype='object')

In [13]:
data = data.drop(['2:00 PM', '2PP', 'FantPt', 'DKPt', 'FDPt', 'VBD', 'OvRank', '-9999', 'PPR▼'], axis=1)

In [14]:
qb_data = data[data['FantPos'] == 'QB']

In [17]:
qb_data = qb_data.reset_index()
qb_data.head()

,index,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Passing Att,...,Rec,Receiving Yds,Receiving Y/R,Receiving TD,Fmb,FL,Total TD,PPR,PosRank,year
0,3,4,Lamar Jackson*+,BAL,QB,27,17,17,316.0,474.0,...,0.0,0.0,NaN,0.0,10.0,5.0,4,430.4,1,2024
1,7,8,Josh Allen*,BUF,QB,28,17,17,307.0,483.0,...,0.0,7.0,NaN,1.0,5.0,2.0,13,379.0,2,2024
2,8,9,Joe Burrow*,CIN,QB,28,17,17,460.0,652.0,...,0.0,0.0,NaN,0.0,11.0,5.0,2,372.8,3,2024
3,12,13,Baker Mayfield*,TAM,QB,29,17,17,407.0,570.0,...,0.0,0.0,NaN,0.0,13.0,2.0,3,365.8,4,2024
4,15,16,Jayden Daniels*,WAS,QB,24,17,17,331.0,480.0,...,0.0,0.0,NaN,0.0,5.0,0.0,6,355.8,5,2024

In [18]:
qb_data.columns

Index(['index', 'Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp',
       'Passing Att', 'Passing Yds', 'Passing TD', 'Int', 'Rushing Att',
       'Rushing Yds', 'Rushing Y/A', 'Rushing TD', 'Tgt', 'Rec',
       'Receiving Yds', 'Receiving Y/R', 'Receiving TD', 'Fmb', 'FL',
       'Total TD', 'PPR', 'PosRank', 'year'],
      dtype='object')

In [20]:
qb_data = qb_data.drop(['index', 'Rk', 'FantPos', 'Tgt', 'Rec', 'Receiving Yds', 'Receiving Y/R', 'Receiving TD'], axis=1)
qb_data.head()

,Player,Tm,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson*+,BAL,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
1,Josh Allen*,BUF,28,17,17,307.0,483.0,3731.0,28.0,6.0,102.0,531.0,5.21,12.0,5.0,2.0,13,379.0,2,2024
2,Joe Burrow*,CIN,28,17,17,460.0,652.0,4918.0,43.0,9.0,42.0,201.0,4.79,2.0,11.0,5.0,2,372.8,3,2024
3,Baker Mayfield*,TAM,29,17,17,407.0,570.0,4500.0,41.0,16.0,60.0,378.0,6.30,3.0,13.0,2.0,3,365.8,4,2024
4,Jayden Daniels*,WAS,24,17,17,331.0,480.0,3568.0,25.0,9.0,148.0,891.0,6.02,6.0,5.0,0.0,6,355.8,5,2024

In [26]:
qb_data['Player'] = qb_data['Player'].str.replace('+', '', regex=False)
qb_data['Player'] = qb_data['Player'].str.replace('*', '', regex=False)
qb_data.head()

,Player,Tm,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson,BAL,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
1,Josh Allen,BUF,28,17,17,307.0,483.0,3731.0,28.0,6.0,102.0,531.0,5.21,12.0,5.0,2.0,13,379.0,2,2024
2,Joe Burrow,CIN,28,17,17,460.0,652.0,4918.0,43.0,9.0,42.0,201.0,4.79,2.0,11.0,5.0,2,372.8,3,2024
3,Baker Mayfield,TAM,29,17,17,407.0,570.0,4500.0,41.0,16.0,60.0,378.0,6.30,3.0,13.0,2.0,3,365.8,4,2024
4,Jayden Daniels,WAS,24,17,17,331.0,480.0,3568.0,25.0,9.0,148.0,891.0,6.02,6.0,5.0,0.0,6,355.8,5,2024

In [27]:
qb_data[qb_data['Player'] == 'Lamar Jackson']

,Player,Tm,Age,G,GS,Cmp,Passing Att,Passing Yds,Passing TD,Int,Rushing Att,Rushing Yds,Rushing Y/A,Rushing TD,Fmb,FL,Total TD,PPR,PosRank,year
0,Lamar Jackson,BAL,27,17,17,316.0,474.0,4172.0,41.0,4.0,139.0,915.0,6.58,4.0,10.0,5.0,4,430.4,1,2024
82,Lamar Jackson,BAL,26,16,16,307.0,457.0,3678.0,24.0,7.0,148.0,821.0,5.55,5.0,11.0,6.0,5,331.2,4,2023
175,Lamar Jackson,BAL,25,12,12,203.0,326.0,2242.0,17.0,7.0,112.0,764.0,6.82,3.0,5.0,2.0,3,236.1,14,2022
261,Lamar Jackson,BAL,24,12,12,246.0,382.0,2882.0,16.0,13.0,133.0,767.0,5.77,2.0,6.0,3.0,2,240.0,16,2021
338,Lamar Jackson,BAL,23,15,15,242.0,376.0,2757.0,26.0,9.0,159.0,1005.0,6.32,7.0,10.0,4.0,7,NaN,10,2020